/* quick reset */

* {
	border: none;
	padding: 0;
	margin: 0;
}

main { font-size: 24px; font-family: 'Arial', 'helvetica', sans-serif; }

.header {
	padding: 20px;
	margin: 0 auto;
	width: 575px;
	height: 50px;
	background-color: #f55442;
}

section { font-size: 18px; font-family: 'Arial', 'helvetica', sans-serif; }

.subhead {
	padding: 20px;
	margin: 0 auto;
	width: 575px;
	height: 30px;
	background-color: #f55442;
}

.canada-img {
	padding-right: 50px;
	margin: 0 auto;
	height: 500px;
	width: 1000px;
}

.intro {
	font-size: 20px;
	margin: 0 auto;
	padding: 50px;
}

section { font-size: 14px; font-family: 'Arial', 'helvetica', sans-serif; }

.hidden {
	padding: 20px;
	padding-top: 30px;
}

.sidebar {
	float: left;
	padding: 0px;
	width: 700px;
	height: 500px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.content {
	font-size: 18px;
	float: right;
	padding: 0px;
}

footer { font-size: 14px; font-family: 'Arial', 'helvetica', sans-serif; }

.footer {
	clear: both;
}